# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Nuxt build
.nuxt
.output
.vercel
.netlify
dist

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env*.local

# PM2
.pm2
